body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.897);
    color: white;
  }
  
  #avatar {
    width: 138px;
    height: auto;
    padding: 10px;
    border-radius: 70%;
  }
  .flip-card {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    display: flex;
    width: 555px;
    height: 270px;
    text-align: center;
    perspective: 1000px;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgb(0, 0, 0),rgba(28, 26, 26, 0.923));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: white;
  }
  
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    display: flex;

  }
  .grn {
    color: #9ccc65;
}
 .blu {
   color: #29b6f6
 }
 .red {
    color: red;
 }
.add-padding {
    padding: 5px;
}
.left-padding {
    padding-left: 8px;
}
.mk-center {
    text-align: center;
}
.mrg-left {
    margin-left: 90px;
}
.contact-me a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid green;
    border-radius: 50%;
    font-size: 20px;
    color: green;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.contact-me a:hover {
    color: #309cf4;
}
.front {
    margin-top: 100px;
    font-size: 25px;
}
